.contenedor {
    height: 500px;
    width: 100%;
    border: 1px solid;
    padding: 12px;
    display: flex;
    gap: 12px;
}

#c2 {
    align-items: end;
    justify-content: end;
}

#c3 {
    align-items: center;
    justify-content: center;
}

#c4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


.cajita {
    background-color: aqua;
    padding: 8px;
    height: 50px;
    width: 50px;
}